.carousel-container {
  margin: 3rem auto;
}
.slick-slide > div {
  display: grid;
  place-items: center;
  width: 100%;
  margin-top: 50px;
  margin: auto;
  padding: 0px;
}
.carousel-arrow-container {
  position: absolute;
  background-color: #272B35;
  border: 1px solid #181D26;
  border-radius: 15%;
  width: 3.3rem;
  height: 3.2rem;
  text-align: center;
  top: 40%;
  cursor: pointer;
}
@media (max-width: 1175px) {
  .carousel-arrow-container {
    width: 2.3rem;
    height: 2.2rem;
  }
}
.carousel-arrow-container:hover {
  background-color: #3d4352;
}
.MuiSvgIcon-fontSizeLarge {
  font-size: 3.2rem !important;
}
@media (max-width: 1175px) {
  .MuiSvgIcon-fontSizeLarge {
    font-size: 2rem !important;
  }
}
.carousel-arrow-prev {
  left: 8%;
  z-index: 25;
}
@media (max-width: 1175px) {
  .carousel-arrow-prev {
    left: 5%;
  }
}
.carousel-arrow-next {
  right: 8%;
}
@media (max-width: 1175px) {
  .carousel-arrow-next {
    right: 5%;
  }
}
.carousel-item-container {
  width: 73%;
  display: flex;
}
@media (max-width: 1865px) {
  .carousel-item-container {
    flex-wrap: wrap;
  }
}
.carousel-item-container img {
  border-radius: 2% 0 0 2%;
}
@media (max-width: 1623px) {
  .carousel-item-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}
.carousel-item-img-container {
  position: relative;
}
.carousel-item-img-desc {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.carousel-item-img-desc label {
  padding: 0;
  margin: 0;
  line-height: 1.1rem;
}
.carousel-item-desc {
  padding-right: 3.8rem;
}
.carousel-item-desc-container {
  background-color: #2D333D;
  border: 1px solid #181D26;
  text-align: start;
  padding: 0 1rem;
  padding-top: 1rem;
  border-radius: 0 2% 2% 0;
  line-height: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.carousel-item-desc-container .primary-btn {
  line-height: normal;
  padding: 6px 12.8px;
}
.carousel-item-purch-container {
  background-color: #272B35;
  border: 1px solid #181D26;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.7rem;
  margin: 1rem 0;
}
.price-label {
  display: block;
  font-size: 1.7rem;
  font-weight: 700;
}
.ticket-desc {
  font-size: 0.8rem;
}
